# © Жиляков Д.Э., 2026. Все права защищены.
#Секретные данные и конфиги
.env
*.env
.env.local
secrets.json

#Виртуальное окружение
venv/
.venv/
env/
ENV/
bin/
lib/
include/

#Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

#Настройки редакторов (IDE)
.idea/
.vscode/
*.swp
*.swo

#Логи и временные файлы
*.log
logs/
tmp/
temp/

#Служебные файлы парсеров
.camoufox_dns_profile/
dns_debug/

#Базы данных
*.sqlite3
*.db
*.sql

#Специфичное для ОС
.DS_Store
Thumbs.db
